body{
    background-color: rgb(16, 15, 16);
    margin: 0px;
    padding: 0px;

}

nav{
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    gap: 18vw;
}
nav .name{
    text-align: left;
    margin: 20px;
    font-size: larger;
    font-weight: bolder;
    color: aqua;
    font-size: 30px;
}

nav .items{
    justify-content: end;
    text-align: right;
    width: 40%;
    margin: 5%;
    font-size: 20px;

}

nav .items a{
    margin-left: 10%;
    text-decoration: none;
    color: white;
    transition: .5s;
}

nav .items a:hover{
    text-decoration: underline;
    color: aqua;
}

.container{
    display: flex;
    flex-direction: row;
    height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 3vw;


}

.container .image{
    flex: 1;
    border-radius: 40%;
    margin-left: 20vw;
}

.container .text{
    flex: 2;
    color: white;
    padding: 10px;
}

.container .text h1{
    font-size: 45px;
}

.container .text h2{
    font-size: 30px;
}

.container .text p{
    font-size: 20px;
    
}

.container .text a{
    margin: 20px;
    color: aqua;
    transition: .5s;
}
.line {
    width: 80%;
    height: 2px;
    background-color: aqua;
    margin: 20px auto;
}
.container .text a:hover{
    color: white;
}

.container .text span{
    color: aqua;
}

.container .image img{
    width: 25vw;
    border-radius: 40%;
    box-shadow: 1px 2px 2px aqua, -1px -2px 2px aqua;
    
}

@media (max-width : 1300px){
    .line {
        width: 80%;
        height: 2px;
        background-color: aqua;
        margin: 20px auto;
    }
    nav{
        display: flex;
        flex-direction: column;
        height: 10vh;
    }
    .container .image{
        display: none;
    }

    .container .text{
        padding: 30px;
    }

    nav .items{
        width: 100%;       
        text-align: center;
        justify-content: center;
        height: 10vh;
    }
}

@media (max-width : 400px){
    .line {
        width: 80%;
        height: 2px;
        background-color: aqua;
        margin: 20px auto;
    }
    nav{
        display: none;
    }
    .container .text h1{
        font-size: 30px;
        padding-top: 20px;
    }
    
    .container .text h2{
        font-size: 20px;
    }
}
